@{
    ViewBag.Title = "Home";
}

<h2>Personal Information Management System</h2>
<p>Welcome to the simple personal information management system.</p>

<div style="margin-top: 20px; margin-bottom: 30px;">
    <div class="row">
        <div class="col-md-12">
            <div class="well">
                <h3>People (@ViewBag.PersonCount)</h3>
                <p>Manage personal information records</p>
                <p>@Html.ActionLink("View All People", "Index", "Person", null, new { @class = "btn btn-primary" })</p>
                <p>@Html.ActionLink("Add New Person", "Create", "Person", null, new { @class = "btn btn-default" })</p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">System Information</div>
            <div class="panel-body">
                <ul>
                    <li>Total People: <strong>@ViewBag.PersonCount</strong></li>
                    <li>Last Updated: @DateTime.Now.ToString("yyyy-MM-dd")</li>
                </ul>
            </div>
        </div>
    </div>
</div> 