@model ProductManagementSystem.Models.Category

@{
    ViewBag.Title = "Delete Category";
}

<div class="panel panel-danger">
    <div class="panel-heading">
        <h2 class="panel-title">Confirm Delete</h2>
    </div>
    <div class="panel-body">
        <h3>Are you sure you want to delete this category?</h3>
        <div class="row">
            <div class="col-md-12">
                <dl class="dl-horizontal">
                    <dt>Category Name</dt>
                    <dd>@Model.CategoryName</dd>

                    <dt>Description</dt>
                    <dd>@Model.Description</dd>
                </dl>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.CategoryID)

                    <div class="form-actions">
                        <input type="submit" value="Delete" class="btn btn-danger" />
                        @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-default" })
                    </div>
                }
                
                @if (ViewBag.ErrorMessage != null)
                {
                    <div class="alert alert-danger" style="margin-top: 20px;">
                        @ViewBag.ErrorMessage
                    </div>
                }
            </div>
        </div>
    </div>
</div> 