@{
    ViewBag.Title = "Home";
}

<h2>Product Management System</h2>
<p>Welcome to the simple product management system.</p>

<div style="margin-top: 20px; margin-bottom: 30px;">
    <div class="row">
        <div class="col-md-6">
            <div class="well">
                <h3>Products (@ViewBag.ProductCount)</h3>
                <p>Manage your product inventory</p>
                <p>@Html.ActionLink("View All Products", "Index", "Product", null, new { @class = "btn btn-primary" })</p>
                <p>@Html.ActionLink("Add New Product", "Create", "Product", null, new { @class = "btn btn-default" })</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="well">
                <h3>Categories (@ViewBag.CategoryCount)</h3>
                <p>Manage product categories</p>
                <p>@Html.ActionLink("View All Categories", "Index", "Category", null, new { @class = "btn btn-primary" })</p>
                <p>@Html.ActionLink("Add New Category", "Create", "Category", null, new { @class = "btn btn-default" })</p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">Database Statistics</div>
            <div class="panel-body">
                <ul>
                    <li>Total Products: <strong>@ViewBag.ProductCount</strong></li>
                    <li>Total Categories: <strong>@ViewBag.CategoryCount</strong></li>
                    <li>Last Updated: @DateTime.Now.ToString("yyyy-MM-dd")</li>
                </ul>
            </div>
        </div>
    </div>
</div> 